<:Title>
  Home

<:Body>
  <h1>Home</h1>

	<h3>{{add_color}}</h3>

<div class="row">
	<div class="col-xs-12 center color-btn-col">
		<button e-click="red"type="button" class="btn btn-danger btn-lg color-btn">Red</button>
		<a href="#"><button type="button" class="btn btn-warning btn-lg color-btn">Yellow</button></a>
		<a href="#"><button type="button" class="btn btn-success btn-lg color-btn">Green</button></a>
		<a href="#"><button type="button" class="btn btn-primary btn-lg color-btn">Blue</button></a>
		<br><br>
		<a href="/">Home</a>
	</div>
</div>